

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Information")">Home <span class="sr-only">(current)</span></a>
            </li>
            @if (ViewBag.isAdmin == true)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("RoleList", "Admin")"> Role Management</a>
                </li>
            }
            @if (ViewBag.isAdmin == true || ViewBag.userType != 1)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("UpdateCourseInstructor", "Student")">Course-Instructor Settings</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="@Url.Action("ApproveDepartmentHead", "Student")">Department head approve</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("DepartmentHead", "Student")">Department head</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("DepartmentList", "Admin")">Department Management</a>
                </li>
            }
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <span>@ViewBag.name  </span>  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Logout</button>
        </form>
    </div>
</nav>

<div style="vertical-align:central;text-align:center;align-items:center">
    <h2> Approve-Course Instructor</h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Course Code</th>
            <th scope="col">Course Name</th>
            <th scope="col"></th>
            <th scope="col">Instructor</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.CourseCode</td>
            <td>@item.CourseName</td>

            <td>
                <input type="hidden" class="form-control" id="courseId" aria-describedby="courseId" name="courseId" value="@item.CourseId">
            </td>
            <td>
                @item.UserDisplayName
            </td>
            @using (Html.BeginForm("Approve", "Student", FormMethod.Post))
            {
                <td>
                    <input type="hidden" class="form-control" id="courseId" aria-describedby="courseId" name="courseId" value="@item.CourseId">
                </td>

                <td>
                    <input type="hidden" class="form-control" id="userId" aria-describedby="userId" name="userId" value="@item.UserId">
                </td>

                <td>
                    <button type="submit" class="btn btn-success">Approve</button>
                </td>
            }
            @using (Html.BeginForm("Reject", "Student", FormMethod.Post))
            {

                <td>
                    <input type="hidden" class="form-control" id="courseId" aria-describedby="courseId" name="courseId" value="@item.CourseId">
                </td>

                <td>
                    <input type="hidden" class="form-control" id="userId" aria-describedby="userId" name="userId" value="@item.UserId">
                </td>
                <td>
                    <button type="submit" class="btn btn-danger">Reject</button>
                </td>
            }
        </tr>
        }

    </tbody>
</table>
